@using CMS.Models;
@{
    var viewModel = (MainLayoutViewModel)ViewBag.MainLayoutViewModel;
}
    <!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@viewModel.PageTitle - My ASP.NET Application</title>
   
  
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/fontawesome")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>

	<nav class="navbar navbar-expand-md bg-light navbar-light">
		@Html.ActionLink(@viewModel.PageTitle, "Index", "Home", null, new { @class = "navbar-brand" })
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="collapsibleNavbar">
			<ul class="navbar-nav">
				<li>@Html.ActionLink("Artykuły", "Index", "Post", null, new { @class = "nav-link" })</li>
				<li>@Html.ActionLink(viewModel.Label2, "About", "Home", null, new { @class = "nav-link" })</li>
				<li>@Html.ActionLink(viewModel.Label3, "Contact", "Home",null ,new { @class = "nav-link" })</li>
				@if (User.IsInRole("Admin"))
				{
					<li>@Html.ActionLink("Panel Administracyjny", "Index", "Admin", null, new { @class = "nav-link" })</li>
				}
			</ul>
			@Html.Partial("_LoginPartial")
		</div>
	</nav>













	<div class="container body-content">
		@RenderBody()
		<hr />
		<footer>
			<p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
		</footer>
	</div>

	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/bootstrap")
	@RenderSection("scripts", required: false)
</body>
</html>
