<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/fontawesome")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
  

    <div class="wrapper">




        <nav id="sidebar" class="navbar-light">
            <!-- Sidebar Header -->
            <div class="sidebar-header">
                <h3 class="nav-item">@User.Identity.Name.Split('@')[0]</h3>
                <a class="nav-link">Administrator</a>
            </div>


            <!-- Sidebar Links -->
            <ul class="list-unstyled components">
                <li class="active">@Html.ActionLink("Blog", "Index", "Home", null, null)</li>
                <li>@Html.ActionLink("Ustawienia","Create")</li>
               

                <li>
                    <!-- Link with dropdown items -->
                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">Podstrony</a>
                    <ul class="collapse list-unstyled" id="homeSubmenu">
                        <li class="nav-link">@Html.ActionLink("Główna", "SubPage", new { id = 1 })</li>
                        <li class="nav-link">@Html.ActionLink("O Stronie", "SubPage", new { id = 2 })</li>
                        <li class="nav-link">@Html.ActionLink("Kontakt", "SubPage", new { id = 3 })</liclass="nav-link">


                    </ul>

                <li>@Html.ActionLink("Motywy", "Themes")</li>
                <li>@Html.ActionLink("Role", "Roles")</li>
                <li>@Html.ActionLink("Wykresy", "Chart")</li>
            </ul>
        </nav>
        <div id="content">
            <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                <i class="glyphicon glyphicon-align-left"></i>
                Toggle Sidebar
            </button>
            @RenderBody()
        </div>
        </div>



            @Scripts.Render("~/bundles/jquery")
            @Scripts.Render("~/bundles/bootstrap")
            @RenderSection("scripts", required: false)
    <script type="text/javascript">
         $(document).ready(function () {
             $('#sidebarCollapse').on('click', function () {
                 $('#sidebar').toggleClass('active');
             });
         });
    </script>

</body>
</html>
